body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-size: 3em;
}

a:link {
  color: white;
}
a:visited {
  color: grey;
}
a:active {
  color: red;
}

embed {
  border: 2px solid white;
  box-shadow: 3px 3px 3px grey;
}